<nav class="p-0 vertical sticky-top" aria-label="menu vertical">
    <ul class="nav flex-column text-center">
        <li class="nav-item">
            <div class="userProfile text-center">
                <!-- <img [src]="'assets/perfil.png'" alt="Imagen de perfil" class="rounded-circle img-fluid bg-white"> -->

                <img *ngIf="!!avatar && avatar.trim().length>0" src="{{ avatar }}" alt="Imagen de {{ nombreUsuario }}"
                    class="rounded-circle img-fluid bg-white border mt-2" style="margin: auto;" />
                <img *ngIf="!avatar || avatar.trim().length==0" [src]="'assets/perfil.png'" alt="Imagen por defecto"
                    class="rounded-circle img-fluid bg-white border mt-2" />
                <p class="h3 text-white pt-2">{{nombreUsuario + " " + apellidoUsuario}}</p>
            </div>
        </li>

        <li class="nav-item w-100">
            <a class="btn btn-secondary w-100 p-0" href="/editProfile" name="editProfile" >Editar perfil</a>
        </li>

        <hr class="w-100 bg-white mt-3 mb-0">

        <div class="btnNavegacion px-3">

            <li class="nav-item w-100">
                <a class="btn btn-secondary w-100 p-0" href ="/main" name="main" >
                    Mi rueda</a>
            </li>

            <li class="nav-item w-100 mb-3">
                <a class="btn btn-secondary w-100 p-0" href="/acercade" name="acercaDe" >Acerca de</a>
            </li>
        </div>

        <hr class="w-100 bg-white my-0">

        <div *ngIf="esAdmin == 1">
            <div class="btnNavegacion px-3">
                <li class="nav-item w-100">
                    <a class="btn btn-secondary  w-100 p-0" href="/adminRuedas" name="adminRuedas" >
                        Admin. Ruedas</a>
                </li>

                <li class="nav-item w-100 mb-3">
                    <a class="btn btn-secondary w-100 p-0" href="/adminUsuarios" name="adminUsuarios" >
                        Admin. Usuarios</a>
                </li>
            </div>

            <hr class="w-100 bg-white my-0">
        </div>
        <li class="nav-item text-center my-3">
            <button class="btn bg-light text-white" (click)="cerrarSesion()" name="cerrarSesion">Cerrar sesion</button>
        </li>

    </ul>
</nav>