<nav class="p-0 vertical sticky-top" aria-label="menu vertical">
    <ul class="nav flex-column text-center">
        <li class="nav-item">
            <div class="userProfile text-center m-3">
                <!-- <img [src]="'assets/perfil.png'" alt="Imagen de perfil" class="rounded-circle img-fluid bg-white"> -->

                <img
                  *ngIf="!!avatar && avatar.trim().length>0"
                  src="{{ avatar }}"
                  alt="Imagen de {{ nombreUsuario }}"
                  class="rounded-circle img-fluid bg-white border mb-4 mt-4"
                  style="margin: auto;"
                />
                <img
                  *ngIf="!avatar || avatar.trim().length==0"
                  [src]="'assets/perfil.png'"
                  alt="Imagen por defecto"
                  class="rounded-circle img-fluid bg-white border mb-4 mt-4"
                />
                <p class="h3 text-white pt-2">{{nombreUsuario + " " + apellidoUsuario}}</p>
            </div>
        </li>

        <div class="btnNavegacion px-3 pt-4">
            <li class="nav-item w-100">
                <a class="btn btn-secondary w-100" routerLink="/profile">Editar perfil</a>
            </li>

            <li class="nav-item w-100">
                <button class="btn btn-outline-secondary active w-100 font-weight-bold" (click)="misRuedas()" name="misRuedas">
                    Mi rueda</button>
            </li>

            <li class="nav-item w-100">
                <a class="btn btn-secondary w-100" href="#">Ruedas suscritas</a>
            </li>
            <li *ngIf="this.userService.rol==1">
              <a class="btn btn-secondary w-100" href="/lista-ruedas">Gestión de ruedas</a>
            </li>

            <li class="nav-item w-100">
                <a class="btn btn-secondary w-100" href="/acercade">Acerca de</a>
            </li>
        </div>

        <li class="nav-item text-center mt-5 mb-3">
            <button class="btn btn-danger" (click)="cerrarSesion()" name="cerrarSesion">Cerrar sesion</button>
        </li>

    </ul>
</nav>
