<nav class="p-0 vertical sticky-top" aria-label="menu vertical">
    <ul class="nav flex-column text-center">
        <li class="nav-item">
            <div class="userProfile text-center m-3">
                <img src="../../../../assets/vistaRueda/navVertical/perfil.png" alt="Imagen de perfil" class="rounded-circle img-fluid bg-white">
                <p class="h3 text-white pt-2">{{nombreUsuario + " " + apellidoUsuario}}</p>
            </div>
        </li>

        <div class="btnNavegacion px-3 pt-4">
            <li class="nav-item w-100">
                <a class="btn btn-secondary w-100" href="#">Editar perfil</a>
            </li>

            <li class="nav-item w-100">
                <button class="btn btn-outline-secondary active w-100 font-weight-bold" (click)="misRuedas()" name="misRuedas">
                    Mis ruedas</button>
            </li>

            <li class="nav-item w-100">
                <a class="btn btn-secondary w-100" href="#">Ruedas suscritas</a>
            </li>

            <li class="nav-item w-100">
                <a class="btn btn-secondary w-100" href="#">Acerca de</a>
            </li>
        </div>

        <li class="nav-item text-center mt-5 mb-3">
            <button class="btn btn-danger" (click)="cerrarSesion()" name="cerrarSesion">Cerrar sesion</button>
        </li>

    </ul>
</nav>