<header></header>
<main class="container vh-100">
  <div class="row pt-2 py-md-5">
    <div
      class="col-12 col-md-6 d-flex justify-content-center align-content-center image-col"
    >
      <div class="align-self-center">
        <img
          [src]="'assets/logo.png'"
          class="bg-white border rounded-pill p-4"
          alt="Logo"
        />
      </div>
    </div>
    <div
      class="col-12 col-md-6 d-flex justify-content-center align-content-center"
    >
      <div class="align-self-center">
        <p class="h1 text-white text-uppercase font-weight-bold titulo">
          Vamos a compartir coche
        </p>
        <ul class="list-group list-group-flush w-100 border rounded-pill">
          <li
            class="list-group-item h6 m-0 text-center text-uppercase text-primary font-weight-bold"
          >
            Recorta tus gastos
          </li>
          <li
            class="list-group-item h6 m-0 text-center text-uppercase text-primary font-weight-bold"
          >
            Conoce gente
          </li>
          <li
            class="list-group-item h6 m-0 text-center text-uppercase text-primary font-weight-bold"
          >
            Ayuda al medio-ambiente
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row h-25">
    <div class="col-12">
      <div class="d-flex justify-content-center py-4">
        <a class="btn btn-lg btn-light mr-2" href="/login">Accede</a>
        <a class="btn btn-lg btn-light ml-2" href="/signup">Regístrate</a>
      </div>
      <p
        class="h4 text-white text-center text-uppercase font-weight-bold titulo"
      >
        Empieza a disfrutar de tus viajes con nosotros
      </p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-sm btn-light" href="/acercade">Quienes somos</a>
      </div>
    </div>
  </div>
</main>
