@media  (max-width: 450px){
  main {
    img {
      max-width: 120px;
    }
    .titulo {
      font-size: 1.2em;
      text-align: center;
      margin-top: 5px;
    }
    ul {
      li {
        font-size: 0.7em;
      }
    }
    a {
      font-size: 0.7em;
    }
  }
}
@media  (max-width: 768px){
  main {
    img {
      width: 100%;
      max-width: 150px;
    }
    .titulo {
      font-size: 1.5em;
      text-align: center;
      margin-top: 5px;
    }
    ul {
      li {
        font-size: 1em;
      }
    }
  }
}
img {
  min-width: 100px;
}
