a {
  img.vh-10 {
    height: 40px;
  }
}

//Step 1: The Menu "Hamburger" Icon

div.userProfile {
  img {
    background-color: white;
    width: 70px;
  }
}
div.btnNavegacion {
  li {
    margin-top: 1rem;
    //margin-left: 1rem;
  }
}

.menu {
  min-width: 200px;
}

.menu-icon {
  width: 40px !important;
  height: 40px;
  margin: 3px;
  position: relative;
  z-index: 1001; //this is the highest z-index listed making the menu icon always appear on top of the slide out menu bar.
}

.menu-icon span {
  //The sets up the basics of the menu lines
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  transition: 0.5s ease-in-out;
}
#menu-icon:hover {
  //hover changes from grey to black in un-clicked mode
  cursor: pointer;
  &::before,
  &::after,
  & > span {
    background: grey;
  }
}

//Below we set where each of the lines need to be. Visually, I liked a 16 px offset.
.menu-icon span:nth-child(1) {
  top: 1px;
}
.menu-icon span:nth-child(2) {
  top: 17px;
}
.menu-icon span:nth-child(3) {
  top: 33px;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 17px;
}
.menu-icon.open span:nth-child(2) {
  opacity: 0;
}
.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 17px;
  text-justify: right;
}
#menu-icon.open:hover {
  //hover - menu changes from grey to white in clicked mode
  cursor: pointer;
  &::before,
  &::after,
  & > span {
    background: grey;
  }
}


.menu-list {
  width: 0% !important;
  max-width: 0px !important;
  min-width: 0px !important;
  padding: unset !important;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  overflow-x: hidden;
  transition: 1s ease-in;

  &.open {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .sticky-top {
    position: -webkit-sticky !important;
    position: -moz-sticky !important;
    position: -o-sticky !important;
    position: -ms-sticky !important;
    position: sticky !important;
  }
  .active {
    text-decoration: underline;
  }
  .navbar-brand, .navbar-toggler {
    font-size: 1rem;
}
}

