$primary: #004b6f;
$secondary: #007dba;
$info: #94c2d6;
$light: #6fb2d0;

body.rodrigo {
  $theme-colors: (
    primary: #00520b,
    secondary: #25ba00,
    success: #43c490,
    info: #9ad694,
    warning: #d8c86b,
    danger: #c24e7b,
    light: #83d06f,
    dark: #00520b,
  );
  --primary: #00520b;
  --secondary: #25ba00;
  --info: #9ad694;
  --light: #83d06f;
  --white: rgb(247, 247, 247);
  // Text
  .text-primary {
    color: var(--primary) !important;
  }
  // Backgrounds
  .bg-primary {
    background-color: var(--primary) !important;
  }
  .bg-light {
    background-color: var(--light) !important;
  }
  // Buttons
  .btn {
    border-radius: 0%;
  }
  .btn.btn-primary {
    background-color: var(--primary) !important;
    color: var(--white) !important;
  }
  .btn.btn-light {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
  }
  .btn.btn-secondary,
  .btn.btn-outline-secondary {
    color: var(--white) !important;
    background-color: var(--secondary) !important;
    border-color: var(--primary) !important;
  }
  a.bg-light:hover,
  a.bg-light:focus,
  button.bg-light:hover,
  button.bg-light:focus {
    background-color: var(--white) !important;
    color: var(--primary) !important;
  }

  .input-group-text {
    background: var(--light) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0% !important;
  }
  // Forms
  .form-control {
    &:focus {
      border-color: var(--primary);
    }
    border-radius: 0%;
  }
  // Tables
  table.table-bordered {
    border: 1px dashed var(--primary);
    thead {
      th,
      td {
        border-bottom-width: 1px solid var(--secondary);
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: unset !important;
          color: unset !important;
        }
      }
      th,
      td {
        border: none;
      }
    }
  }
  table {
    tbody {
      tr {
        &:hover {
          background-color: var(--light) !important;
          color: var(--primary) !important;
        }
      }
    }
  }
  // Others
  a {
    color: var(--primary);
    &:hover {
      color: var(--secondary) !important;
    }
  }
  h1 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }

  // Login
  .brand_logo_container {
    background-color: var(--secondary);
  }

  .login_btn {
    background: var(--secondary) !important;
    color: white !important;
  }
  .cabecera {
    div {
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        order: 0;
      }
    }
  }
}

body.alejandro{
  $theme-colors: (
    primary: #000000,
    secondary: #797979,
    success: #0A4700,
    info: #00423B,
    warning: #927900,
    danger: #920000,
    light: #FFF,
    dark: #000000,
  );

  --primary: #000000;
  --secondary: #797979;
  --success: #0A4700;
  --info: #00423B;
  --warning: #927900;
  --danger: #920000;
  --light: #FFF;

// Text
.text-primary {
  color: var(--primary) !important;
}
// Backgrounds
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
// Buttons
.btn {
  border-radius: 10px;
}
.btn.btn-primary {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}
.btn.btn-light {
  background-color: var(--info) !important;
  border-color: var(--info) !important;
}
.btn.btn.btn-secondary{
  background-color: var(--primary);
}
.btn.btn-danger{
  background-color: var(--danger) !important;
}
.btn.btn-secondary,.btn.btn-outline-secondary {
  color: var(--white) !important;
  background-color: var(--secondary) !important;
  border-color: var(--primary) !important;
}
a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}

.input-group-text {
  background: var(--light) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 10px !important;
}
// Forms
.form-control {
  &:focus {
    border-color: var(--primary);
  }
  border-radius: 0%;
}
// Tables
table.table-bordered {
  border: 1px dashed var(--primary);
  thead {
    th,
    td {
      border-bottom-width: 1px solid var(--secondary);
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: var(--primary) !important;
        color: var(--white) !important;
      }
    }
    th,
    td {
      border: none;
    }
  }
}
table {
  thead{
    tr{
      background-color: var(--primary) !important;
      th{
        color: var(--light) !important;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: var(--light) !important;
        color: var(--primary) !important;
      }
      td{
        color: var(--light) !important;
        div.bg-light{
          background-color: var(--info) !important;
        }
      }
      td:hover{
        color: var(--secondary) !important;
      }
    }
  }
}
// Others
a {
  color: var(--primary);
  &:hover {
    color: var(--secondary) !important;
  }
}
h1 {
  font-size: 2rem;
}
h5 {
  font-size: 1rem;
}
.cerrarSesion{
  background-color: var(--secondary) !important;
}

// Login
.brand_logo_container {
  background-color: var(--secondary);
}

.login_btn {
  background: var(--secondary) !important;
  color: white !important;
}
.cabecera {
  div {

    &:nth-child(1){
      order:0;
    }
    &:nth-child(2){
      order: 1;
    }
    &:nth-child(3){
      order:2;
    }
  }  
}
#vistaPrincipal{
  h1{
    color: var(--light) !important;
  }
  background-color: var(--secondary) !important;
  #foco{
    background-color: var(--primary) !important;
    div{
      background-color: var(--primary) !important;
      .texto{
        color: var(--light) !important;
      }
    }
  }
}

}

body.jorge {
  // Cambiamos la fuente de la letra

  font-family: 'Roboto Condensed', sans-serif;
  // $primary: #b58900;
  // $secondary: #839496;
  // $success: #2aa198;
  // $info: #268bd2;
  // $warning: #cb4b16;
  // $danger: #d33682;
  // $light: #fdf6e3;
  // $dark: #073642;

  $theme-colors: (
    primary: #b58900,
    secondary: #839496,
    success: #2aa198,
    info: #fef900,
    warning: #cb4b16,
    danger: #d33682,
    light: #fdf6e3,
    dark: #073642,
  );

  --primary: #b58900;
  --secondary: #839496;
  --info: #fef900;
  --light: #fdf6e3;
  --white: rgb(247, 247, 247);
  --dark: #073642;
  --danger:#d33682;

  // Texto
  .text-primary {
    color: var(--primary) !important;
  }
  .text-white{
    color: black !important;
  }
  // Fondos utilizados
  .bg-primary {
    background-color: var(--primary) !important;
  }
  .bg-light {
    background-color: var(--light) !important;
  }
  // Botones e inputs
  .btn {
    border-radius: 50px;
  }
  .btn-success{
    background-color: #ffc107;
    border:black;
  }
  .btn.btn-primary {
    background-color: var(--primary) !important;
    color: white !important;
  }
  .btn.btn-light {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
  }
  .btn.btn.btn-secondary{
    background-color: var(--primary);
  }
  .btn.btn-danger{
    background-color: var(--danger) !important;
  }
  .btn.btn-secondary,.btn.btn-outline-secondary {
    color: var(--white) !important;
    background-color: var(--secondary) !important;
    border-color: var(--primary) !important;
  }
  a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
    background-color: var(--white) !important;
    color: var(--primary) !important;
  }

  .input-group-text {
    background: var(--light) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 10px !important;
  }

  .cerrarSesion{
    background-color: var(--danger) !important;
    color: white;
  }

  input{
    border-radius: 50px;
  }

  // Elementos especiales del login
  .brand_logo_container {
    background-color: var(--secondary);
  }

  .login_btn {
    background: var(--secondary) !important;
    color: white !important;
  }

  // tablas
  tr {
    &:hover {
      background-color: #ffc107 !important;
      color: black !important;
      font-size: 1.2rem;
    }
    th{
      background-color: #ffc107 !important;
      color: black !important;
      font-size: 1.2rem;
    }
  }

  // Tamaños de leteas
  a {
    color: var(--danger);
    font-size: 1.2rem;
    text-decoration: none;
  }
  a:hover{
    color: blueviolet;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2{
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
}
