div.addUser{
    img{
        background-color: white;
        height: 100px;
    }
}

table{
    tbody{
        tr:hover{
            background-color: #005a87;
            color: white;
        }
    }
}