<div *ngIf="mensaje != null" class="container-fluid mb-0">
  <p *ngIf="mensaje == '200'" class="alert alert-info">Modificación exitosa</p>
  <p *ngIf="mensaje == '422'" class="alert alert-info">Error en los campos</p>
</div>
<div class="container bootstrap snippet bg-white">
  <div class="row mt-1">
    <div class="col-sm-3">
      <!--left col-->
      <!-- Avatar -->
      <br />
      <hr />

      <div class="row justify-content-center">
        <div class="col-4 col-sm-12 col-md-12 col-lg-12">
          <img
          *ngIf="!!avatar && avatar.trim().length>0"
          src="{{ avatar }}"
          alt="Imagen de {{ userService.name }}"
          class="rounded-circle img-fluid bg-white border mb-4 mt-4"
          style="margin: auto;"
        />
        <img
          *ngIf="!avatar || avatar.trim().length==0"
          [src]="'assets/perfil.png'"
          alt="Imagen por defecto"
          class="rounded-circle img-fluid bg-white border mb-4 mt-4"
        />
        </div>
      </div>
      <div class="row justify-content-center pl-4">
        <div id="carta_nominador_div">
          <div class="row justify-content-center">
            <span id="fichero_seleccionado" class="texto">Ninguna imagen seleccionada</span>
          </div>
          <div class="row justify-content-center">
            <label for="carta_nominador" style="width: 142px; height: 52px;  border-radius: 100px;cursor: pointer;" >
                 <span class="iborrainputfile btn btn-block btn-secondary disabled">Cambiar icono</span>
            </label>
          </div>
          <input type="file"
          name="myFile"
          (change)="fileEvent($event)"
          accept="image/*" id="carta_nominador" class="inputfile inputfile-1" disabled>
        </div>
      </div>

      <!-- <div class="row">
        <form #f="ngForm" (ngSubmit)="onSubmitform(f)">
          <input
            type="file"
            name="myFile"
            (change)="fileEvent($event)"
            accept="image/*"
          />
          <button>Upload Image</button>
        </form>
      </div> -->
      <hr />
      <br />
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <br />
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr />
          <div class="row p-4">
            <form [formGroup]="edit" (ngSubmit)="send()" class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
                <label for="first_name"><h4 class="texto">Nombre</h4></label>
                <input
                  type="text"
                  class="form-control"
                  name="first_name"
                  id="first_name"
                  placeholder="first name"
                  title="Modifica tu nombre."
                  required
                  formControlName="name"
                />
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
                <label for="last_name"><h4 class="texto">Apellidos</h4></label>
                <input
                  type="text"
                  class="form-control"
                  name="last_name"
                  id="last_name"
                  placeholder="last name"
                  title="Modifica tu apellido."
                  required
                  formControlName="surname"
                />
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
                <label for="phone"><h4 class="texto">Email</h4></label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="enter phone"
                  title="Modifica tu email."
                  required
                  formControlName="email"
                  autocomplete="username"
                />
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
                <label for="password"><h4 class="texto">Contraseña</h4></label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="password"
                  title="Modifica tu contraseña"
                  formControlName="password"
                  autocomplete="new-password"
                />
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
                <label for="password2"><h4 class="texto">Verificar contraseña</h4></label>
                <input
                  type="password"
                  class="form-control"
                  name="password2"
                  id="password2"
                  placeholder="password2"
                  title="verifica tu contaseña"
                  formControlName="password2"
                  autocomplete="new-password"
                />
              </div>
              <div></div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <br />
                <button
                  class="btn btn-block btn-secondary"
                  type="submit"
                  [disabled]="edit.invalid"
                >
                  <i class="glyphicon glyphicon-ok-sign"></i> Guardar
                </button>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <br />
                <button class="btn btn-block btn-danger" type="reset">
                  <i class="glyphicon glyphicon-repeat"></i> Reset
                </button>
              </div>
            </form>
          </div>
          <hr />
        </div>
        <!--/tab-pane-->
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->
    </div>
    <!--/col-9-->
  </div>
  <!--/row-->
</div>

