nav.cabecera{
    background-color: #0CADFB;
    div{
        div{
            a{
                img{
                    height: 10vh;
                }
            }
        }
    }
}

aside.vertical{
    background-color: #0CADFB;
    div.userProfile{
        img{
            height: 40%;
            width: 40%;
        }
    }
    div.btnNavegacion{
        li{
            margin-top: 1rem;
            //margin-left: 1rem;
        }
    }
}

.principal{
    height: 90vh;
    table.horario{
        // tr.titulo{
        //     text-align: center;
        //     background-color: #007DBA;
        // }
        th, td{
            border: 0;
        }
    }
}

.horario-movil{
    th, td{
        border: 0;
    }
}

footer.footer{
    background-color: #0CADFB;
}

@media (max-width: 700px){
    div.horario-pc{
        display: none;
    }
}

@media (min-width: 700px){
    div.horario-movil{
        display: none;  
    }
}