<div class="container-fluid bg-theme-darker">
  <div class="abs-center">
    <form action="#" class="p-3 form">
      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="user_card">
            <div class="d-flex justify-content-center">
              <div class="brand_logo_container">
                <img [src]="'assets/img/logo.png'" class="brand_logo" alt="Logo">
              </div>
            </div>
            <div class="d-flex justify-content-center form_container">
              <form>
                
              </form>
            </div>

            <div class="mt-4">
              <div class="d-flex justify-content-center links">
                No tienes cuenta? <a routerLink="/signup" class="ml-2">Registrate</a>
              </div>
              <div class="d-flex justify-content-center links">
                <a routerLink="/recuperar">Olvide mi contraseña</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>