/* You can add global styles to this file, and also import other style files */
@import "./src/app/scss/miTema";
@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bg-theme{
  background-color: #007cba;
}

.bg-theme-dark{
  background-color: #006ba1;
}

.bg-theme-darker{
  background-color: #005a87;
}

@media(max-width: 450px){
  table {
    font-size: 0.8em;
  }
}
