/* You can add global styles to this file, and also import other style files */
@import "./src/app/scss/miTema";
@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
}

.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bg-theme{
  background-color: var(--primary);
}

.bg-theme-dark{
  background-color: var(--primary);
}

.bg-theme-darker{
  background-color: var(--primary);
}

@media(max-width: 450px){
  table {
    font-size: 0.8em;
  }
}

// Tema de Rodrigo
body.dark-theme {
  background-color: black;
  color: $primary;
}
